body 
{
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Varela Round', sans-serif;
}
* {
    box-sizing: border-box;
}
h1{
    color: white;
}
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-template-areas: "h h"
    "n n"
    "a as"
    "f f";
}
header,footer,nav,article,aside{
    padding: 7px;
}
header{
    grid-area: h;
}
aside{
    grid-area: as;
    background-color: #ffffff33;
    border-radius: 6px;
}
aside>div{
    background-color: #ffffff7d;
    height: 100%;
    border-radius: 11px;
    padding: 12px;
    margin: 6px;
}
nav>ul{
    grid-area: n;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100px;
    gap: 10px;
    padding-left: 0;
    padding-bottom: 0px;
}
h2{
    font-size: 18px;
    text-align: center;
}
nav>ul>li{
    list-style: none;
    margin: 10px;
    border: 1px solid #ffffff5e;
    padding: 10px;
    width: 100%;
    background-color: #ffffff5e;
    border-radius: 12px;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}
article{
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    background-color: #ffffff33;
    border-radius: 4px;
    padding-bottom: 20px;
}
article>div{
    background-color: #ffffff7d;
    border-radius: 11px;
    padding: 6px;
}
.ar{
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
}
.ar>p{
    text-align: end;
    padding-right: 7px;
}
aside>div>button
{
    width: 100%;
    margin: 0;
    height: 39px;
}
.aruk{
    box-shadow: 5px 6px 4px #888888;
    width: 100%;
    
}
footer{
    grid-area: f;
}
button{
    margin: 10px;
    width: 80%;
    border-radius: 13px;
    border-color: #80808099;
    padding: 7px;
    background-color: #555555;
    color: white;
}
img {
    width: 100%;
    border-radius: 6px;
}
h6{
    text-align: center;
    font-size: 15px;
    color: #ffffffad;
}
hr{
    border: 1px solid #808080bd;
}
#osszeg{
    text-align: end;
}
.elemek{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.elemek>button{color: #ff000082;}
@media screen and (max-width: 700px)
{
    article
    {
       grid-template-columns: repeat(2, auto);
    }
    aside>div>button
    {
        height: 13%;
    }
    main{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 10px;
        grid-template-areas: "h h"
        "n n"
        "as as"
        "a a"
        "f f";
    }
    aside>div{padding: 20px;}
}